/* Remove defualt style  */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Added backgound  */
body {
	background-image: linear-gradient(120deg, #659999, #f4791f);
	color: white;
}

header {
	font-size: 1.5rem;
}

header,
form {
	min-height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* input to do item size */
form input,
form button {
	padding: 0.5rem;
	font-size: 2rem;
	border: none;
	outline: none;
}
/* form button  */
form button {
	color: #f4791f;
	background: white;
	cursor: pointer;
	transform: all 0.3 ease;
}
